<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Totais nas Últimas 24 Horas:</h1>
  <ul>
    <li class="mb-2">Usuários Totais:
      <span class="font-bold"><%= @totals[:total_users] %></span></li>
    <li class="mb-2">Usuários Ativos:
      <span class="font-bold"><%= @totals[:total_active_users] %></span></li>
    <li class="mb-2">Novos Usuários:
      <span class="font-bold"><%= @totals[:total_new_users] %></span></li>
    <li class="mb-2">Total Active 7-Day Users:
      <span class="font-bold"><%= @totals[:total_active_7_day_users] %></span></li>
  </ul>
</div>
<%= link_to "Sign Out", destroy_user_session_path, class: "some-css-class bg-blue-500 text-white font-bold py-2 px-4 rounded", data: { turbo_method: :delete } %>
