<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lilita+One&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  </head>
  <body class="" data-controller="loading">

    <% [notice, alert].compact.each do |notification| %>
      <%= render "shared/notification", notification: notification %>
    <% end %>

    <%= render "shared/header" %>
    <%= yield %>

    <%= render "shared/footer" %>

  </body>
</html>
